*,*::after,*::before{box-sizing:border-box}
:root{font-size:14px;--color-text:#fff;--color-bg:#0f0e0e;--color-link:#fff;--color-link-hover:rgba(255,255,255,.6);--page-padding:.5rem;--aspect:4/5;--c-gap:3rem;--r-gap:3rem;--column:80px;--column-count:3;--border-radius:4px}
html{height:100%;overflow-x:hidden}
body{height:100%;width:100%;font-family:forma-djr-mono,system-ui,-apple-system,sans-serif;text-transform:uppercase;margin:0;color:var(--color-text);background-color:var(--color-bg);-webkit-font-smoothing:antialiased}
.loading::before,.loading::after{content:'';position:fixed;z-index:10000}
.loading::before{top:0;left:0;width:100%;height:100%;background:var(--color-bg);animation:hideLoader .4s ease 2s forwards}
.loading::after{top:50%;left:50%;width:100px;height:1px;margin:0 0 0 -50px;background:var(--color-link);animation:loaderAnim 1.5s ease-in-out infinite alternate,hideLoader .4s ease 2s forwards}
@keyframes loaderAnim{0%{transform:scaleX(0);transform-origin:0 50%}50%{transform:scaleX(1);transform-origin:0 50%}50.1%{transform:scaleX(1);transform-origin:100% 50%}100%{transform:scaleX(0);transform-origin:100% 50%}}
@keyframes hideLoader{to{opacity:0;visibility:hidden;pointer-events:none}}
a{text-decoration:none;color:var(--color-link);cursor:pointer;transition:all .3s ease}
a:hover{color:var(--color-link-hover)}
.line{display:inline-block;overflow:hidden;position:relative}
.line::before{background:var(--color-link-hover);bottom:0;content:'';height:1px;left:0;position:absolute;transition:transform .4s ease;width:100%;transform:scaleX(0);transform-origin:right center}
.line:hover::before{transform:scaleX(1);transform-origin:left center}
.frame{display:grid;z-index:1000;width:100%;height:100vh;position:fixed;gap:.5rem 3rem;pointer-events:none;padding:.5rem;align-content:space-between;justify-content:space-between;align-items:end;grid-template-areas:'title links' 'tags sponsor'}
.frame a,.frame button{pointer-events:auto;color:var(--color-text)}
.frame__title{margin:0;font-size:inherit;font-weight:inherit;grid-area:title;text-align:right}
.frame__tags,.frame__links{display:flex;gap:1rem}
.frame__links{grid-area:links;justify-self:end}
.frame__tags{grid-area:tags}
.scene{perspective:900px;position:relative;height:100vh;display:flex;justify-content:center;align-items:center}
.scene__title{position:relative;z-index:10;margin:0}
.scene__title a{display:block}
.scene__title span{display:inline-block}
.carousel{width:400px;height:500px;top:50%;left:50%;margin:-250px 0 0 -200px;position:absolute;transform-style:preserve-3d;will-change:transform;transform:translateZ(-550px)}
.scene:nth-child(even) .carousel{transform:translateZ(-550px) rotateY(45deg)}
.carousel__cell{position:absolute;width:350px;height:420px;transform-style:preserve-3d}
.card{width:100%;height:100%;position:relative;transform-style:preserve-3d}
.card__face{width:100%;height:100%;position:absolute;backface-visibility:hidden;background-image:var(--img);background-size:cover;background-position:center;border-radius:4px}
.card__face--back{transform:rotateY(180deg)}
.preview{position:fixed;inset:0;padding:0 15vw;display:grid;align-content:center;justify-items:center;gap:1rem;opacity:0;pointer-events:none;z-index:2000}
.preview__header{display:flex;width:100%;align-items:flex-end;justify-content:space-between}
.preview__title{margin:0}
.preview__close{background:none;border:0;padding:0;font:inherit;cursor:pointer;color:var(--color-text);text-transform:inherit}
.preview__close:hover{color:var(--color-link-hover)}
.grid{padding:1rem 0;display:grid;grid-template-columns:repeat(var(--column-count),minmax(var(--column),1fr));gap:var(--r-gap) var(--c-gap);width:100%;perspective:900px}
.grid__item{margin:0;display:flex;flex-direction:column;gap:.25rem;overflow:hidden;border-radius:4px;transform-style:preserve-3d}
.grid__item-image{width:100%;aspect-ratio:var(--aspect);background-size:cover;background-position:50% 50%;transition:opacity .15s}
.grid__item:hover .grid__item-image{opacity:.7}
.grid__item-caption h3{font-size:1rem;font-weight:400;margin:0}
@media (min-width:65em){:root{--column-count:6}}
